<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="shortcut icon" href="http://i.imgur.com/iZ52mIl.png">
  <link rel="apple-itouch-icon" href="http://i.imgur.com/iZ52mIl.png"> 
  <title>Authentication with JSON Web Tokens</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css">

</head>
<body>
  <h1> Login to see <em>amazing</em> content: </h1>
  <form action="/auth" method="POST">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" name="username" placeholder="username" class="form-control"/>
    <label for="exampleInputEmail1">Password</label>
    <input type="password" name="password" placeholder="********" class="form-control"/>
    <input type="submit" class="btn btn-success" value="login"  />
  </form>
</body>
</html>
