<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="shortcut icon" href="http://i.imgur.com/iZ52mIl.png">
  <link rel="apple-itouch-icon" href="http://i.imgur.com/iZ52mIl.png"> 
  <title>Authenticated!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css">
</head>
<body>
  <h1> You Authenticated! </h1>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/StTqXEQ2l-Y?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
  <form action="/logout" method="GET">
    <!-- Log Out of the app -->
    <input type="submit" class="btn btn-danger" value="logout"  />
  </form>
</body>
</html>
